#map { height: 600px; }
ul#stats li {
  padding: 10px 12px 10px 8px;
}
#timeline-container {
  display: none;
}
.marker{
  width: 26px;
  height: 26px;
}
.badges {
  margin-left: 29px;
  margin-top: -20px;
  opacity: .8;
  font-size: 1.5em;
}
.badges span {
  display: inline;
}
.red-marker {
  background-image: url('../../img/redMarker.svg');
}
.blue-marker {
  background-image: url('../../img/blueMarker.svg');
}
.orange-marker {
  background-image: url('../../img/orangeMarker.svg');
}